{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy</title>
    <link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block content %}
    <div class="content">

        <div id="text">
            <section>
                <h1>As melhores receitas</h1>
                <p> Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </section>

            <img src="assets/chef.png" alt="">
        </div>
        <H2>Mais acessadas</H2>
        <div class="cards">

            <div class="card">
                <img src="assets/burger.png" alt="hamburguer">
                <h3>Triplo bacon burger</h3>
                <p>por Jorge Relato</p>
            </div>
            <div class="card">
                <img src="assets/pizza.png" alt="pizza">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>
            <div class="card">
                <img src="assets/espaguete.png" alt="spaghetti">
                <h3>Espaguete ao alho</h3>
                <p>por Júlia Kinoto</p>
            </div>
            <div class="card">
                <img src="assets/lasanha.png" alt="Lasagna">
                <h3>Lasanha mac n’ cheese</h3>
                <p>por Juliano Vieira</p>
            </div>
            <div class="card">
                <img src="assets/doce.png" alt="sweet">
                <h3>Docinhos pão-do-céu</h3>
                <p>por Ricardo Golvea</p>
            </div>
            <div class="card">
                <img src="assets/asinhas.png" alt="">
                <h3>Asinhas de frango ao barbecue</h3>
                <p>por Vania Steroski</p>
            </div>


        </div>

    </div>
{% endblock %}


